@import 'variables/couleur.css';
@import 'media-theme-preference/sombre.css';
@import 'media-theme-preference/clair.css';
@import 'element-html.css';
@import 'composants/en-tete.css';
@import 'composants/carte-recette.css';
@import 'composants/formulaire.css';
@import 'composants/modal.css';

[data-theme="dark"] {
  --couleur-arriere-plan: var(--noir);
  --couleur-arriere-plan-ligne: var(--jaune-clair);
  --couleur-arriere-plan-modal: var(--voilet-fonce-rgba);
  --couleur-arriere-plan-bouton: var(--voilet-fonce);
  --couleur-arriere-plan-element: var(--voilet-fonce);
  --couleur-arriere-plan-element-modal: var(--voilet-clair);
  --couleur-arriere-plan-element-formulaire: var(--jaune-clair);

  --couleur-texte: var(--jaune-clair);
  --couleur-texte-bouton: var(--jaune-clair);
  --couleur-texte-element-formulaire: var(--voilet-fonce);
  --couleur-texte-modal: var(--voilet-clair);
  --couleur-texte-lien-modal: var(--jaune-clair);
  --couleur-ombre: var(--gris-clair-rgba);
}

[data-theme="light"] {
  --couleur-arriere-plan: var(--jaune-clair);
  --couleur-arriere-plan-ligne: var(--voilet-fonce);
  --couleur-arriere-plan-modal: var(--voilet-fonce-rgba);
  --couleur-arriere-plan-bouton: var(--voilet-fonce);
  --couleur-arriere-plan-element: var(--gris-clair);
  --couleur-arriere-plan-element-modal: var(--voilet-clair);
  --couleur-arriere-plan-element-formulaire: var(--voilet-fonce);
  
  --couleur-texte: var(--voilet-fonce);
  --couleur-texte-bouton: var(--jaune-clair);
  --couleur-texte-element-formulaire: var(--jaune-clair);
  --couleur-texte-modal: var(--voilet-fonce);
  --couleur-texte-lien-modal: var(--voilet-fonce);
  --couleur-ombre: var(--voilet-fonce-rgba);
}
.changeur-de-theme {
  display: none; 
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text-color);
}

.changeur-de-theme {
  display: inline;
}

