html {
    background-color : black;
    color : white;
}

.liste-des-cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.image-de-la-carte {
    display: block;
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.texte-de-la-carte {
    text-align: center;
    color: #F5F5DC;
    margin: -10px;
}

.titre-de-la-carte {
    margin-top: 20px;
    margin-bottom: -5px;
}

.carte-recette {
    background-color: #300345;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(184, 178, 178, 0.74);
    margin: 5px;
    padding: 1px;
}

.liste-des-ingreients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.carte-ingredient {
    text-align: center;
    background-color: #452B78 ;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(184, 178, 178, 0.74);
    height: fit-content;
    padding: 5px;
    margin-top: 10px;
    margin-right: 3px;
    color: #F5F5DC;
}
  