
.bouton-formulaire {
  border-radius: 10px;
  font-weight: bold;
  padding: 6px;
  border: hidden;
  color:var(--couleur-texte-bouton);
  background-color: var(--couleur-arriere-plan-bouton);
}

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.element-formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  height: 60px;
  justify-content: space-around;
}
