.lien-modal {
  display: block;
  text-align: center;
  margin-top: 50px;
  text-decoration: none;
  color: var(--couleur-texte-modal);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--couleur-arriere-plan-modal);
}

.contenu-modal {
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 160px;
  width: 280px;
  display: flex;
  flex-direction: column;
  background-color: var(--couleur-arriere-plan-element-modal);
}

.fermeture-modal {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: var(--couleur-texte);
}

.modal:target {
    display: block;
}[data-theme="dark"] {
  --couleur-arriere-plan: var(--noir);
  --couleur-arriere-plan-ligne: var(--jaune-clair);
  --couleur-arriere-plan-modal: var(--jaune-clair);
  --couleur-arriere-plan-bouton: var(--voilet-fonce);
  --couleur-arriere-plan-element: var(--voilet-fonce);
  --couleur-arriere-plan-element-modal: var(--voilet-clair);
  --couleur-arriere-plan-element-formulaire: var(--jaune-clair);
  --couleur-texte: var(--jaune-clair);
  --couleur-texte-bouton: var(--jaune-clair);
  --couleur-texte-element-formulaire: var(--jaune-clair);
  --couleur-texte-modal: var(--voilet-clair);
  --couleur-ombre: var(--gris-clair-rgba);
}