.lien-modal {
  display: block;
  text-align: center;
  margin-top: 50px;
  text-decoration: none;
  color: var(--couleur-texte-lien-modal);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--couleur-arriere-plan-modal);

  &:target {
    display: block;
  }
}

.contenu-modal {
  margin: 100px auto;
  padding: 20px;
  border-radius: var(--border-radius);
  margin-top: 160px;
  width: 280px;
  display: flex;
  flex-direction: column;
  background-color: var(--couleur-arriere-plan-element-modal);
}

.fermeture-modal {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: var(--couleur-texte);
}